body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #fff;
}
.navbar {
  background-color: #ffb6c1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.navbar a:hover {
  background-color: #f08080;
}
.main {
  padding: 100px 20px;
  text-align: center;
}
